<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
  	<div class="navbar-form navbar-left">
  		<img class="logo" src="<%= image_url "qoverflow_logo.png" %>">
  	</div>
    <form class="navbar-form navbar-right" role="search">
    <% if user_signed_in? %>
      <a class="btn btn-default botones-a botones-b" role="button" href="<%= destroy_user_session_path %>">Salir del Sistema</a>
    <% else %>
        <a class="btn btn-default botones-a botones-b" role="button" href="<%= new_user_session_path %>">Ingresar</a>
        <a class="btn btn-default botones-a botones-b" role="button" href="<%= new_user_registration_path %>">Registrarse</a>
    <% end %>
    	
      <div class="form-group">
        <input type="text" class="form-control botones-a" placeholder="Buscar">
      </div>     
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
      <h3> Tablero de Preguntas </h3>
       <div class="pull-right" style="margin-right: 60px;">
       <p><a class="btn btn-primary" href="/questions/new" role="button">Ingresar una pregunta</a></p>
       </div> 
  </div>  
  <% @question.each do |q| %>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-2">
      Col 1

    </div>
    <div class="col-sm-3 col-sm-offset-1">
      Col 2

    </div>
    <div class="col-sm-3 col-sm-offset-1">
      Col 3

    </div>
  </div>
<% end %>
       
          




      
  
</div>