@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
	height:50px;
	width: 130px;
	margin-top: 5px;
}
.logo1 {
	height:60px;
	width: 260px;
	margin-top: 1px;
	margin-bottom: 10px;
}
.logo2 {
	height:60px;
	width: 60px;
	margin-top: auto;
	
}
.botones-a {
	margin-top: 15px;
}
.botones-b {
	background-color: black;
	color: white;
	font-weight: bold;
	text-shadow: rgba(192,168,2,0.5);
}
.titulo_index {
	font-weight: bold;
	font-size: 26px;	
  	text-shadow: skyblue 0px 0px 0px 4px;  
	color: #3573d6;
	height: 16px;
}
.style_text_title {
	font-weight: bold;
	color: #879ec4;
	text-shadow: skyblue 0px 0px 0px 4px; 
}
.pregunta {
	margin-left:50px;
}
.piecito {
	color: blue;
	text-align:center;
	height:30px;
	padding:0px;
}
.logofondo {
	height:20px;
}
.navbar-fixed-bottom{
    height:70px;
    position:relative;
    vertical-align:middle;
}
.blankspace {
	height:70px;
}
.blankspace2 {
	height:30px;
}
.blankspace3 {
	height:40px;
}
.right_side {
	text-align:right;
	margin-right:0px;
}
.estilo_title {
	text-shadow: skyblue 0px 0px 0px 4px;  
	color: #3573d6;
	font-weight: bold;
}
.centrado {
	text-align:center;
}
.errors {
	color:red;
	font-weight: bold;
}
.orange {
	color: #db5400;
	font-weight: bold;
	text-align:center;
}